.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: hsla(9, 100%, 64%, 1);
  padding: 4px 32px;
  font-family: 'Gideon Roman';
  font-weight: 400;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding:0;
  margin: 0;
  gap: 8px;
}

a {
  font-size: 16px;
  padding: 8px;
  color: hsla(9, 100%, 30%, 1);
  font-family: 'Zilla Slab';
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* I opted to stylize mine differently than the example photo. However the behavior is the exact same.*/

/*
.header, ul  {
  margin: 0 -4px;
}

.header li {
  margin: 0 4px;
}
*/

/*
.left-links {
margin-left: auto;
}

.right-links {
margin-right: auto;
}

*/

/* SOLUTION

.header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

*/